
body {
  margin:50px;
  background-color:#f7f8f9;
  font-family:"proxima nova";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  /*outline-style:none;
  outline:0;*/
}

/*a {
  outline:0;
}*/

.title-one {
  font-size:42px;
  font-weight:700;
  color:#62706c;
}

.bn-solid {
  outline:0;
  background-color:#e60082;
  color:#fff !important;
  font-weight: 700;
  /* width | style | color */
outline: 0;

}

.bn-solid:hover {
  background-color:#c5099b;
}

.bn-solid:active {
  box-shadow:0 0 0 3px rgba(255, 59, 193, 0.5);
  /*outline:0;*/
}

.bn-p-outline {
  background-color:transparent;
  border:1px solid rgba(230, 0, 130, 0.4);
  color:#d81179;
  font-weight:600;
}

.bn-p-outline:hover {
  color:#fff;
  background-color:rgba(230, 0, 130, 1);
  transition:all .2s ease-in-out;
}

.bn-p-outline:active{
  box-shadow:0 0 0 3px rgba(244, 82, 192, 0.5);
  outline:0;
}

.bn-outline {
  background-color:transparent;
  border:#dbe1e9 1px solid;
  color:#8898a9;
  font-weight:600;
}

.bn-outline:hover {
  background-color: #e2e7ed;
  color:#6b7a89;
  transition:all .2s ease-in-out;
}

.bn-outline:active {
  box-shadow:0 0 0 3px rgba(136, 152, 169, 0.5);
  outline:0;
}

.bn-big {
  height: 40px;
  border-radius: 20.5px !important;
  font-size: 15.2px;
  padding:0 24px;
  transition:all .5s ease-in-out;
}

.bn-mid {
  height: 34px;
  border-radius:17px !important;
  font-size: 14.2px;
  padding:0 22px;
  transition:all .5s linear;
}


.bn-sm {
  height: 30px;
  border-radius: 16px !important;
  font-size: 13.3px;
  padding:0 20px;
  /*letter-spacing:0.02em;*/
}


/*             */
.dialog {
  width:500px;
  height:200px;
  margin:0 auto;
  background-color:#fff;
  border:#e2e5e9 1px solid;
  font-size:15px;
  font-weight:600;
  border-radius:5px;
  box-shadow: 0 0 5px rgba(100,100,100, 0.15)
}

.btn-test img:nth-child(2) {
  display:none;
}

.btn-test img:last-child {
  display:none;
}

.btn-test:hover img:first-child {
  display:none;
}

.btn-test:hover img:nth-child(2) {
  display:inline-block;
}

.btn-test:hover img:last-child {
  display:none;
}

.btn-test:active img:first-child {
  display:none;
}

.btn-test:active img:nth-child(2) {
  display:none;
}

.btn-test:active img:last-child {
  display:inline-block;
}
.icon-test {
  /*border:#000 1px solid;*/
  margin:30px;
  box-sizing:border-box;
}
.icon-test img:nth-child(2) {
  display:none;
}

.icon-test img:last-child {
  display:none;
}

.icon-test:hover img:first-child {
  display:none;
}

.icon-test:hover img:nth-child(2) {
  display:inline-block;
}

.icon-test:hover img:last-child {
  display:none;
}

.icon-test:active img:first-child {
  display:none;
}
.icon-test:active img:nth-child(2) {
  display:none;
}

.icon-test:active img:last-child {
  display:inline-block;
}



.caret-fluidigm {
  font-size:0.8em;
  color:#cbced2;
  margin-left:15px;
}

.selected-fluidigm {
  font-weight:700;
  font-size:0.7em;
  color:#e60082;
  margin-left:15px;
}

.caret-fluidigm:hover {
  color:#d0d6de !important;

}
.btn-fluidigm {
  color:#505459 !important;
  font-family: "proxima nova";
  font-size:16px;
  font-weight:300;
  border:#dee3e9 1px solid;
  /*border:#d0d6de 1px solid;*/
  height:36px;
  width: 300px;
  margin-top:6px;
  margin-bottom:20px;
  border-radius:3px !important;


}

.btn-fluidigm:hover {
  border:#c5ccd5 1px solid;
  background-color:#fbfbfc;
}


.form-control::-webkit-input-placeholder {
  color:#d0d4da;
  font-weight:100;
}

.label-fluidigm {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:500;
  color:#8e97a2;
}

.txt-fluidigm1 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:100;
}
.txt-fluidigm2 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:200;
}
.txt-fluidigm3 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:300;
}

/*same*/
.txt-fluidigm4 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:400;
}
.txt-fluidigm5 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:500;
}
/*same*/
.txt-fluidigm6 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:600;
}
/*same*/
.txt-fluidigm7 {
  font-family: "proxima nova";
  font-size:16px;
  font-weight:700;
}

.one-o {

  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:16px;
  font-weight:100;
}

.two-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:16px;
  font-weight:200;
}

.three-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:32px;
  font-weight:100;
}

.four-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:32px;
  font-weight:400;
}

.five-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:32px;
  font-weight:500;
}

.six-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:32px;
  font-weight:600;
}


.seven-o {
  padding:20px;
  border:#fff 1px solid;
  background-color:#53d2f5;
  color:#fff;
  font-family: "proxima nova";
  font-size:32px;
  font-weight:700;
}
